<footer class="bg-white py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between">
            <!-- Description Section -->
            <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <p class="small m-0">Hi, I'm Vieratitov, a backend developer and Scrum Master passionate about creating efficient and scalable solutions. Feel free to connect with me on my social media platforms.</p>
            </div>

            <!-- Social Media Section -->
            <div class="col-lg-4 col-md-6 mb-3 mb-lg-0 text-center">
                <a href="https://twitter.com/vieratitoo" class="text-decoration-none me-3" target="_blank" aria-label="Twitter">
                    <i class="bi bi-twitter fs-4"></i>
                </a>
                <a href="https://www.linkedin.com/in/viera-tito-4b1b73245/" class="text-decoration-none me-3" target="_blank" aria-label="LinkedIn">
                    <i class="bi bi-linkedin fs-4"></i>
                </a>
                <a href="https://github.com/Ergiaa" class="text-decoration-none me-3" target="_blank" aria-label="GitHub">
                    <i class="bi bi-github fs-4"></i>
                </a>
                <a href="mailto:titovirgiawan21@gmail.com" class="text-decoration-none" aria-label="Email">
                    <i class="bi bi-envelope fs-4"></i>
                </a>
            </div>

            <!-- Legal Links and Copyright -->
            <div class="col-lg-4 text-lg-end">
                <div class="small m-0">&copy; 2024 Vieratitov. All Rights Reserved.</div>
                <div>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="contact.html">Contact</a>
                    <span class="mx-1">&middot;</span>
                </div>
            </div>
        </div>
    </div>
</footer>
